.top {
    color: #0000FF;
    margin: 0 auto;
    font-size: 20px;
}

.home {
    background-color: #00FFFF
}

.tw {
    background-color:#C0C0C0
}

.footer {
    height:220px;
    font-size: 20px;
    color: #1e90ff;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-image: url("bird.png");
    background-repeat: no-repeat;
    background-position: 80px ;
}