// Place all the styles related to the kblos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top {
    color: #0000FF;
    margin: 0 auto;
    font-size: 20px;
}

.home {
    background-color: #00FFFF;
}

.tw {
    background-color:#C0C0C0;
}

.footer{
  text-align: center;
  color: #1e90ff;
}

.fwrapper{
  width: 100%;
  height: 100px;
  background-color: #D3D3D3;
}

.explain{
  text-align: center;
  color: #6495ED;
}
